/* .banner-con {
  padding: 250px 0px;
} */

/* .banner-con button {
  padding: 18px 70px;
  border-radius: 5px;
  background-color: #ea001e;
  color: #fff;
  border: none;
  margin-top: 15px;
} */

.swiper-pagination {
  margin-bottom: 20px;
}

.banner-bg-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* url("/src/assets/pexels-mike-bird-1335077.jpg"); */
      url("https://i.ibb.co/bHtcmZz/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}
.banner-bg-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://i.ibb.co/9hKDsHV/slider2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}
.banner-bg-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://i.ibb.co/z8q4bgp/slider3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}
.banner-bg-4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://i.ibb.co/2SnCtnt/slider4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}

@media screen and (max-width: 320px) {
  .banner-con {
    padding: 100px 0px;
  }
}
